@import "tailwindcss";

:root {
  --background: #0f0f0f;
  --foreground: #1f1f1f;
  --navbar: #262626;
  --border: #272727;
  --primary: rgb(20, 238, 5);
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-navbar: var(--navbar);
  --color-border: var(--border);
  --color-primary: var(--primary);
}

.plus-jakarta {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  color: rgba(255, 255, 255, 0.7);
}

.space {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  color: white;
}

.space2 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  color: var(--background);
}

.grid-area {
  background-image: linear-gradient(
    to bottom,
    #000000,
    #021801,
    #064702,
    #0c8f03,
    #14ee05
  );
}

.grid-info {
  background-image: linear-gradient(
    to bottom,
    #14141467 0%,
    #141414 80%,
    #141414
  );
}

.bg-pitch {
  background-image: url(./assets/bg.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-team {
  background-image: url(./assets/team.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.bg-cta {
  background-image: url(./assets/cta.svg);
  inset: 0;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.bg-cta::after {
  content: "";
  background-image: radial-gradient(
    circle at center,
    transparent 30%,
    var(--background) 55%
  );
  inset: 0;
  position: absolute;
  background-size: cover;
  background-position: center center;
}

html {
  scrollbar-width: auto;
  scrollbar-color: var(--primary) var(--background);
}

.bg-hero {
  background-image: url(./assets/hero-bg.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
